<div class="email-collect form-inline">
  <%= image_tag "logo.png", :class => "logo" %>
  <h1><%= t(:promo_header) %></h1>
  <p class="lead "><%= t(:promo_text) %> </p>
    <%= form_tag :controller => "main", :action =>  "save" do  %>
      <div class="form-group">
        <%= email_field :request_email, :email, :placeholder=>"E-mail", :class=> "form-control mail-input" %>
      </div>
      <div class="form-group">
        <%= submit_tag t(:promo_submit), :class=> "submit-button" %>
      </div>
    <% end %>
</div>