<tr>
<td><%= history.history_type.name %></td>
<td><%= history.count %></td>
<td><%= history.sum %></td>
<td>
  <% if history.is_ingoing && !history.is_confirmed %>
      <span class="label label-danger"><%= t('views.history.ingoing')%></span>
  <% end %>
  <% if !history.is_ingoing && history.is_confirmed %>
      <span class="label label-success"><%= t('views.history.success')%></span>
  <% end %>
</td>
</tr>