<div class="row head-bar">
  <div class="col-lg-3 col-sm-1 col-md-2 logo"><%= image_tag "logo-red.png" %></div>
  <div class="col-lg-7 col-sm-3 col-md-5 header"><h1><%= t(:slide1_head) %></h1></div>
  <div class="col-lg-2 col-sm-1 .col-md-1 menu">
    <div class="row"><%= link_to image_tag("menu-white.png"), "#menu" %> </div>
    <div class="row" style="height: 20px">&nbsp;</div>
    <div class="row"><%= link_to t(:client_profile), client_root_url %></div>
  </div>
</div>

<div class="row slide-content">
  <div class="col-lg-6 col-sm-3 col-md-5 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 ">
    <h1><%= h t(:slide1_header).html_safe %></h1>

    <p style="font-weight: bold;"><%= t(:slide1_text) %></p>
    <ul>
      <li><%= t("slide_text.li1") %></li>
      <li><%= t("slide_text.li2") %></li>
      <li><%= t("slide_text.li3") %></li>
      <li><%= t("slide_text.li4") %></li>
      <li><%= t("slide_text.li5") %></li>
      <li><%= t("slide_text.li6") %></li>
    </ul>
    <p><%= t(:soon) %> <%= image_tag("appstore.png") %> <%= image_tag("gplay.png") %></p>
  </div>
  <div id="separate-iphone" class="col-lg-3 col-sm-1 col-md-2 ">
    <%= image_tag "iphone.png" %>
  </div>
</div>