<div class="row head-bar">
  <div class="col-lg-3 col-sm-1 col-md-2 logo"><%= image_tag "logo-red2.png" %></div>
  <div class="col-lg-7 col-sm-3 col-md-5 header"><h1><%= t("slide_1_2.head") %></h1></div>
  <div class="col-lg-2 col-sm-1 .col-md-1 menu">
    <div class="row"><%= link_to image_tag("menu-red.png"), "#menu" %> </div>
    <div class="row" style="height: 20px">&nbsp;</div>
    <div class="row"><%= link_to t("slide_1_2.partner_profile"), partner_root_url %></div>
  </div>
</div>

<div class="row slide-content">

  <div id="iphone-container" class="col-lg-4 col-sm-2 col-md-1 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 ">
    <%= image_tag "iphone-1.png", :class => "phone-1" %>
    <%= image_tag "iphone-2.png", :class => "phone-2"  %>
    <%= image_tag "iphone-3.png", :class => "phone-3"  %>
  </div>

  <div class="col-lg-6 col-sm-3 col-md-5">
    <h1><%= h t("slide_1_2.header").html_safe %></h1>

    <p style="font-weight: bold;"><%= t("slide_1_2.text").html_safe %></p>
    <ul>
      <li><%= t("slide_1_2.li1") %></li>
      <li><%= t("slide_1_2.li2") %></li>
      <li><%= t("slide_1_2.li3") %></li>
      <li><%= t("slide_1_2.li4") %></li>
      <li><%= t("slide_1_2.li5") %></li>
      <li><%= t("slide_1_2.li6") %></li>
    </ul>
  </div>

</div>