<h4><%= t(:actions_history)%></h4>
<%= render_navigation(:context => :partner, :level => 2) %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t(:transaction_type)%></th>
    <th><%= t(:transaction_count)%></th>
    <th><%= t(:transaction_sum)%></th>
    <th><%= t(:transaction_status)%></th>
  </tr>
  </thead>
  <tbody>
  <%= render @history %>
  </tbody>
</table>

<%= paginate @history %>
