

<div id="container" class="container" align="center">

  <div class="main">
    <div class="main_in_main">
      <div class="content">
        <h1><%= t(:sign_up)%></h1>

        <%= form_for [:client, @user] do |f| %>
            <% if @user.errors.any? %>
                <div class="error_messages">
                  <h2><%= t(:form_error)%></h2>
                  <ul>
                    <% for message in @user.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <p>
              <%= f.label t(:email) %><br />
              <%= f.text_field :username %>
            </p>
            <p>
              <%= f.label t(:password) %><br />
              <%= f.password_field :password %>
            </p>
            <p>
              <%= f.label t(:password_confirmation) %> <br />
              <%= f.password_field :password_confirmation %>
            </p>
            <p class="button"><%= f.submit t(:sign_up_submit) %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

