
<div id="container" class="container" align="center">

  <div class="main">
    <div class="main_in_main">
      <div class="content">
        <h1><%= t(:login)%></h1>

        <%= form_tag :controller => 'partner/sessions', :action => :create do %>
            <p>
              <%= label_tag t(:email) %><br />
              <%= text_field_tag :email, params[:email] %>
            </p>
            <p>
              <%= label_tag t(:password) %><br />
              <%= password_field_tag :password %>
            </p>
            <p class="button"><%= submit_tag t(:login_submit)%></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
