<div class="row head-bar">
  <div class="col-lg-3 col-sm-1 col-md-2 logo"><%= image_tag "logo-red2.png" %></div>
  <div class="col-lg-7 col-sm-3 col-md-5 header"><h1><%= t(:slide4_about) %></h1></div>
  <div class="col-lg-2 col-sm-1 .col-md-1 menu">
    <div class="row"><%= link_to image_tag("menu-red.png"), "#menu" %> </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "goncharov.png", :class => "img-circle", :size => '250x250' %>
        <div class="caption">
          <h3><%= t("goncharov.name").html_safe %></h3>

          <p><%= t("goncharov.info").html_safe %></p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "galitski.png", :class => "img-circle", :size => '250x250' %>
        <div class="caption">
          <h3><%= t("galitski.name").html_safe %></h3>

          <p><%= t("galitski.info").html_safe %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="copirate" class="col-lg-12 col-sm-6 col-md-4">
      <p><%= t("about.copirate.firm") %></p>
      <p><%= t("about.copirate.address") %></p>
    </div>
  </div>
</div>