<div id="slide-2-1" class="slide">
  <%= render 'main/pages/sliders/slide_2_1' %>

</div>
<div id="slide-2-2" class="slide">
  <%= render 'main/pages/sliders/slide_2_2' %>
</div>
<div id="slide-2-3" class="slide">
  <%= render 'main/pages/sliders/slide_2_3' %>
</div>
<div id="slide-2-4" class="slide">
  <%= render 'main/pages/sliders/slide_2_4' %>
</div>

<div id="slide-2-5" class="slide">
  <%= render 'main/pages/sliders/slide_2_5' %>
</div>

<div id="slide-2-6" class="slide">
  <%= render 'main/pages/sliders/slide_2_6' %>
</div>