<div id="slide-1-1" class="slide">
  <%= render :partial => "main/pages/sliders/slide_1_1" %>
</div>
<div id="slide-1-2" class="slide">
  <%= render :partial => "main/pages/sliders/slide_1_2" %>
</div>
<div id="slide-1-3" class="slide">
  <%= render :partial => "main/pages/sliders/slide_1_3" %>
</div>
<div id="slide-1-4" class="slide">
  <%= render :partial => "main/pages/sliders/slide_1_4" %>
</div>