// Place all the styles related to the partner/payment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#popolnenie{
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
  padding: 10px;
  background-color: #efefef;
}
#popolnenie img{ width: 890px; margin: 0 auto; margin-bottom: 20px;display: block;}
#popolnenie ul{list-style: none; width: 600px; margin: 0 auto;}
#popolnenie li{display: inline; margin-right: 20px;}
.highlighted_companies_dd{}
.highlighted_companies_item{margin: 15px; display: block; width: 250px; float: left;}
