
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Вы успешно зарегистрированны на Telekopilka</h1>
<p>
  Ваш логин: <%= @user.email %>.<br/>
</p>
<p>
  Ваш пароль: <%= @user.password %>.<br/>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>