<tr>
  <td></td>
  <td><%= transaction.history_type.name %></td>
  <td><%= transaction.count %></td>
  <td><%= transaction.sum %></td>
  <td>
    <% if transaction.is_ingoing && !transaction.is_confirmed %>
        <span class="label label-danger"><%= t('views.history.ingoing')%></span>
    <% end %>
    <% if !transaction.is_ingoing && transaction.is_confirmed %>
        <span class="label label-success"><%= t('views.history.success')%></span>
    <% end %>
  </td>
</tr>