<h4><%= t(:you_transactions)%></h4>
<%= render_navigation(:context => :partner, :level => 2) %>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t(:transaction_action)%></th>
    <th><%= t(:transaction_type)%></th>
    <th><%= t(:transaction_count)%></th>
    <th><%= t(:transaction_sum)%></th>
    <th><%= t(:transaction_status)%></th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'partner/transactions/transaction', :collection =>  @transactions %>
  </tbody>
</table>

<%= paginate @transactions %>
