<h1><%= t(:you_transactions)%></h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t(:transaction_action)%></th>
    <th><%= t(:transaction_type)%></th>
    <th><%= t(:transaction_count)%></th>
    <th><%= t(:transaction_status)%></th>
  </tr>
  </thead>
  <tbody>
  <%= render @history %>
  </tbody>
</table>

<%#= paginate @history %>
