
<div id="popolnenie">
  <%= image_tag  'balans_pop.png' %>
  <ul>
    <%= form_for @income_payment, :url => url_for({:controller => 'partner/payment', :action => :create}) do |form| %>

        <li>        Пополнить баланс на сумму</li>
        <li>
          <%# if @income_payment.sum > 0 %>
              <%#= form.hidden_field :sum %>
              <%#= @income_payment.sum %>
          <%# else %>
              <%= text_field_tag :sum %>
          <%# end %>
          руб</li>

        <li><%= form.submit t(:next_step) %></li>
    <% end %>
  </ul>
</div>