/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts.css.scss";

body {
  background: image-url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Conv_PT Sans Bold Regular' !important;
  letter-spacing: 2px;
  //font-style: bold;
}

#container {
  width:940px; /*Ширина блока*/
  height:400px; /*Высота блока*/
  margin:0 auto;
  overflow:visible;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-470px; /*Смещаем блок на половину всей ширины влево*/
  margin-top:-200px; /*Смещаем блок на половину высоты вверх*/

}
.main {
  height:100%;
}
.main_in_main {
  height:100%;
}
.content {
  padding-top:0px;
  height:200px;
}

.email-collect {
  color: #FFF;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.mail-input {
  color: #FFF;
  margin-right: 45px;
  background: image-url("mail_input.png") no-repeat;
  text-indent:70px;
  height: 56px;
  width: 440px;
  border: none;
  font-size: 24px;
}
.mail-input::-webkit-input-placeholder { color:#FFF; }
.mail-input::-moz-placeholder { color:#FFF; } /* firefox 19+ */
.mail-input:-ms-input-placeholder { color:#FFF; } /* ie */
input.mail-input:-moz-placeholder { color:#FFF; }

.submit-button {
  font-size: 29px;
  color: #e26325;
  height:56px;
  width:200px;
  //line-height:70px;
  text-align:center;
  background-image:image-url('send_btn_normal.png');
  background-repeat:no-repeat;
  background-color: transparent;
  border: 0px;
}
.submit-button:active { background-image:image-url('send_btn_active.png');}
.submit-button:hover { background-image:image-url('send_btn_hover.png');}

.logo{margin-bottom: 50px;}
.lead {margin-bottom: 70px;font-family: 'Conv_PT Sans' !important;}
