/*
 *= require_self
 */

#container {
  width:940px; /*Ширина блока*/
  height:400px; /*Высота блока*/
  margin:0 auto;
  overflow:visible;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-470px; /*Смещаем блок на половину всей ширины влево*/
  margin-top:-200px; /*Смещаем блок на половину высоты вверх*/

}
.main {
  height:100%;
}
.main_in_main {
  height:100%;
}
.content {
  padding-top:0px;
  height:200px;
}
