@font-face {
  font-family: 'Conv_PT Sans';
  src:url('PT Sans.eot');
  src:url('PT Sans.woff') format('woff'),
  url('PT Sans.ttf') format('truetype'),
  url('PT Sans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_PT Sans Bold Italic';
  src:url('PT Sans Bold Italic.eot');
  src:url('PT Sans Bold Italic.woff') format('woff'),
  url('PT Sans Bold Italic.ttf') format('truetype'),
  url('PT Sans Bold Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_PT Sans Bold Regular';
  src:url('PT Sans Bold Regular.eot');
  src:url('PT Sans Bold Regular.woff') format('woff'),
  url('PT Sans Bold Regular.ttf') format('truetype'),
  url('PT Sans Bold Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_PT Sans Italic';
  src:url('PT Sans Italic.eot');
  src:url('PT Sans Italic.woff') format('woff'),
  url('PT Sans Italic.ttf') format('truetype'),
  url('PT Sans Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}