// Place all the styles related to the main controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tableCell{
  vertical-align: top !important;
}
.head-bar{
  padding: 20px;
  width: 100%;
  color: #ffffff;
  font-family: 'Conv_PT Sans Bold Regular';
}

.head-bar .logo{}
.head-bar .menu a{
  float: right;
  color: #ffffff;
  font-family: 'Conv_PT Sans Bold Regular';
  text-decoration: underline;
}
#section4 .head-bar .header, #section4 .logo{
  color: #f47b20;
}

#section4 .thumbnail {
  background-color: #f0f0f0;
  border: none;
  text-align: center;
  color: #8d3b04;
}
#section4 .thumbnail p, #section4 .thumbnail h3 {
  color: #8d3b04;
}

#copirate{
  text-align: center;
  color: #8d3b04;
  font-size: 24px;
}

.slide-content{
  position: relative;
  top: 15%;
  line-height: 45px;
  font-family: 'Conv_PT Sans';
  color: #ffffff;
  font-size: 24px;
}

.slide-content h1{
  font-family: 'Conv_PT Sans Bold Regular';
  color: #f47b20;
  text-shadow: 0px 3px 2px #373b40;

}

#slide-1-2.slide-content h1{
  font-family: 'Conv_PT Sans Bold Regular';
  color: #f26722;
  text-shadow: none;

}

#slide-1-2 .slide-content, #slide-1-2 .head-bar, #slide-1-2 .menu a{
  color: #f26722;
}

#separate-iphone{
  float: right;
  text-align: right;
}

#section1 #separate-iphone img{
  left: 130%;
  position:relative;
}
#iphone-container{ position: relative}
#iphone-container img {position: absolute}
#iphone-container .phone-1, #iphone-container .phone-2, #iphone-container .phone-3{
  //left: 0px;
  //position:relative;
}

.img-circle {
  border-color: #f47b20;
  border-style: solid;
  border-width: 4px;
}


