<!DOCTYPE html>
<html>
<head>
  <title>TeleKopilka</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
</head>

<body>


<div id="container" class="container" align="center">

  <div class="main">
    <div class="main_in_main">
      <div class="content">
        <%= yield %>
      </div>
    </div>
  </div>
</div>


</body>
</html>


