<!DOCTYPE html>
<html>
<head>
  <title>TeleKopilka - личный кабинет</title>
  <%= stylesheet_link_tag    "base_investor", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
