<!DOCTYPE html>
<html>
<head>
  <title>TeleKopilka - личный кабинет</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'base_partner', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="<%= partner_root_url %>"><%= t(:menu_profile) %></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <% if current_partner %>
        <%= render_navigation(:context => :partner, :level => 1) %>
    <% end %>
    <ul class="nav navbar-nav navbar-right">
      <% if current_partner %>
          <li><a href="<%= partner_payment_url %>"><%= t(:menu_balanse) %> - <%= current_partner.balance %> <%= t(:money) %> </a></li>
          <li> <%= link_to t(:user_log_out), partner_log_out_url %>    </li>
      <% else %>
          <li> <%= link_to t(:user_registrations), partner_sign_up_url %>    </li>
      <% end %>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>

<div class="container">
  <%= yield %>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
